# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/
myenv/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Data files
data/raw/
data/processed/
vector_db/
chroma_db/
*.faiss
*.pkl

# OS / editor
.DS_Store
.vscode/
